*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #131313;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    padding-left: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}

.header {
}
.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
}

.logo__img {
}

.menu {
    margin-right: 70px;
}

.menu__list {
    display: flex; 
    
}

.menu__item+.menu__item{
    padding-left: 10px;
}

.menu__link {
    text-transform: uppercase;
    padding: 42px 20px;
    transition: all .3s;

}

.menu__link:hover{
    background-color: #131313;
    color: #fff;
}

.bike{
    margin-top: 97px;
    margin-bottom: 153px;
}

.bike__inner{
    display: flex;
    justify-content: space-between;
}

.bike__column-slider{
    flex-basis: 630px;
    margin-left: 30px;
    min-width: 630px;
}

.bike__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin: 60px 0 5px;
}

.bike__subtitle{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    margin:0 0 60px;
    color: #6F6F6F;
}

.bike__text{
    margin-bottom: 20px;
    max-width: 420px;
}

.bike__link{
    margin-top: 80px;
    display: inline-block;
    background-color: #131313;
    color: #fff;
    padding: 28px 81px;
    text-transform: uppercase;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.1em;
    text-align: left;

}



.bike_slider .slick-dots{
    right: 0;
    top: 50px;

}
.slick-dots{
    position: absolute;

}

.slick-dots li + li{
    padding-top: 10px;
}

.slick-dots button{
    padding: 0;
    border: none;
    font-size: 0;
    width: 2px;
    height: 25px;
    background-color: #131313;
    border-radius: 7px;
    cursor: pointer;
}


.slick-dots button:hover,
.slick-active button,
.bike__link:hover{
    background-color: #ff4040;
    transition: all .3s;
}

.bike_list{
    margin-top: 25px;
    display: flex;
    justify-content:space-around;
}

.bike-list__item{
    display: flex;
    min-width:160px;
    min-height: 53px;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.bike-list-text{
    margin: auto 0;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: lowercase;
}

.bike-list-num{
    font-weight: 700;
    text-transform: uppercase;
    line-height: 17px;
}

.info{
    margin-bottom: 150px;
}

.info__inner {
    display: flex;
    justify-content: start;
    min-width: 1120px;
}
.info__img {
    margin-right: 60px;
}
.info__list { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 490px;
}

.info__item {
   
}
.info__item-title,
.specification__title{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
}
.info__item-text {
    max-width: 450px;
    margin-top: 10px;
    margin-bottom: 0;
}

.specification{
    margin-bottom: 150px;
}



.specification__inner{
    display: flex;
}

.specification__table{
    max-width: 570px;
    margin-top: 40px;
    margin-right: 60px;
}

.table__row-title{
    background-color: #131313;
    color: #fff;
    height: 22px;
    text-transform: uppercase;
}


.specification__table td{
    min-width: 285px;
}

.specification__img{
    margin: auto;

}


.table__row__bottom{
    padding-bottom: 31px;
    padding-top: 8px;
}

.table__text {
    padding-top: 8px;
    padding-bottom: 8px;
}


.bike_slider-big{
    margin-bottom: 100px;
}

.bike_slider_jpg{
    padding-left: 50px;
}

.bike__slider-max .slick-dots{
    top: 0;
    left: 0;
}

.order{
    margin-top: 50px;
    margin-bottom: 100px;
}

.order__items{
    position: relative;
}


.order__title{
    text-transform: uppercase;
    margin-bottom: 41px;
}

.order__form{
    max-width: 420px
}

.color__img{
    max-width: 630px;
}


.order__form-text {
    max-width: 300px;
    margin-bottom: 30px;
}


.form_bike{
    display: none;
    position: absolute;
    right: 0;
    top: 0;   
}

.form_button-check:checked + .form_bike{
    display: block;
}


.form__collor-btn-grey, 
.form__collor-btn-white, 
.form__collor-btn-red {
    height: 12px;
    width: 80px;
    border-radius: 30px;
    margin-right: 23px;
}

.form__collor-btn-grey:hover, 
.form__collor-btn-white:hover, 
.form__collor-btn-red:hover {
    cursor: pointer;
}


.form__collor-btn-grey{
 background-color: #6F6F6F;
 border: 1px solid #6F6F6F;
 margin-right: 23px;
 
} 
.form__collor-btn-white{
    background-color: #fff;
    border: 1px solid #6F6F6F;
    margin-right: 23px;
} 
.form__collor-btn-red {
    background-color: #ff4040;
    border: 1px solid #ff4040;
}


.form__input-tel,
.form__input-name{
    border: none;
    border-bottom: 1px solid #131313;
    width: 100%;
    outline: none;
    padding-bottom: 10px;
    margin-bottom: 20px;

}

.form__input-tel::placeholder,
.form__input-name::placeholder{
    opacity: 0.5;
    border: none;
    color: #6F6F6F;
}


.form__input-color{
    opacity: 0.5;
    color: #6F6F6F;
    margin-bottom: 10px;

}

.form_button-check{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.form_button-color{
    display: flex;
}

.form__button-submit{
    padding: 28px 60px 28px 81px;
    text-transform: uppercase;
    background-color: #131313;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    color: #fff;
    border: none;
    margin-top: 50px;
}

.form__bike-price{
    font-size: 32px;
    line-height: 100px;
    position: absolute;
    top: 30px;
    right: 490px;
    border: 1px solid #ff4040;
    border-radius: 100%;
    width: 220px;
    height: 100px;
    text-align: center;
   

}

.form__bike-price:after{
    content: "" ;
    border: 1px solid #ff4040;
    border-radius: 100%;
    width: 220px;
    height: 100px;
    top: 12px;
    right: 0;
    position: absolute;
}


.footer {
    background-color: #131313;
}
.container {
    max-width: 1200px;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

.politics { 
    padding: 43px 0;
}

.politics__link {
    font-size: 12px;
    text-decoration-line: underline;
}  
.social {
    display: flex;
    min-width: 85px;
    justify-content: space-between;
}



.contacts {
    display: block;

}

.footer__contacts-link{
    margin-left: 10px;
    padding: 10px 0;
}

.footer__contact-tel,
.footer__contact-mail{
    display: flex;
    align-items: center;

}
